name: Attestor Workflow

on:
  pull_request
 
jobs:
  attestor: 
    runs-on: ubuntu-latest
    container: ghcr.io/l3montree-dev/compliance-as-code-attestors:latest 
    env:
      PR_NUMBER: ${{ github.event.number }}
      PR_TITLE: ${{ github.event.pull_request.title }}
      OUTPUT_FILE: /tmp/attest.json

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Env Sanity Check
        run: echo $PR_NUMBER && echo $PR_TITLE

      - name: Pull Request Check
        run: |
          /app/compliance-as-code-attestors prAttest \
            --repos l3montree-dev/devguard \
            --repos l3montree-dev/devguard-web \
            --repos l3montree-dev/devguard-documentation \
            --initRepoTitle "$PR_TITLE" \
            --initRepoNumber "$PR_NUMBER" > "$OUTPUT_FILE"
          cat "$OUTPUT_FILE"
          echo "created $OUTPUT_FILE"

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: attestation-${{ env.PR_NUMBER }}
          path: ${{ env.OUTPUT_FILE }}

      - name: Download OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: 1.10.1
      
      - name: Evaluate Policy
        run: | 
          opa eval \
            --data policy.rego \
            --input "$OUTPUT_FILE" \
            'data.documentationMerged.failure_msg' \
            --format raw \
            --fail-defined > test.txt

            


      # - name: Checkout
      #   uses: actions/checkout@v5
      #   with:
      #     repository: l3montree-dev/devguard-documentation
      #     path: main
