name: Attestor Workflow

on:
  pull_request
 
jobs:
  attestor: 
    runs-on: ubuntu-latest
    container: ghcr.io/l3montree-dev/compliance-as-code-attestors:latest 
    env:
      PR_NUMBER: ${{ github.event.number }}
      PR_TITLE: ${{ github.event.pull_request.title }}
    steps:
      - name: pr_request
        run: |
          output_file="/tmp/attest-${PR_TITLE}.json"
          /app/compliance-as-code-attestors prAttest \
            --repos l3montree-dev/devguard \
            --repos l3montree-dev/devguard-web \
            --repos l3montree-dev/devguard-documentation \
            --initRepoTitle "$PR_TITLE" \
            --initRepoNumber "$PR_NUMBER" > "$output_file"
          cat "$output_file"
          echo "created $output_file"


      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact_$PR_TITLE
          path: /tmp/attest-${{ env.PR_TITLE }}.json

      - name: Download OPA
        uses: open-policy-agent/setup-opa@2.3.0
        with:
          version: latest 
      
      - name: Evaluate Policy
        run: | 
          opa eval --fail-defined \
          --stdin-input \
          'input.results[_].coverage < 0.7'

      # - name: Checkout
      #   uses: actions/checkout@v5
      #   with:
      #     repository: l3montree-dev/devguard-documentation
      #     path: main
