name: Attestor Workflow

on:
  pull_request
 
jobs:
  attestor: 
    runs-on: ubuntu-latest
    container: ghcr.io/l3montree-dev/compliance-as-code-attestors:latest 
    env:
      PR_NUMBER: ${{ github.event.number }}
      PR_TITLE: ${{ github.event.pull_request.title }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Env Sanity Check
        run: echo $PR_NUMBER && echo $PR_TITLE

      - name: Pull Request Check
        run: |
          output_file="/tmp/attest.json"
          /app/compliance-as-code-attestors prAttest \
            --repos l3montree-dev/devguard \
            --repos l3montree-dev/devguard-web \
            --repos l3montree-dev/devguard-documentation \
            --initRepoTitle "$PR_TITLE" \
            --initRepoNumber "$PR_NUMBER" > "$output_file"
          cat "$output_file"
          echo "created $output_file"
          echo "OUTPUT_FILE=$output_file" >> $GITHUB_ENV



      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact_$PR_TITLE
          path: /tmp/attest.json

      - name: Download OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: 1.10.1
      
      - name: Evaluate Policy
        run: | 
            echo "OUTPUT_FILE='$OUTPUT_FILE'"
            ls -l "$OUTPUT_FILE"
            opa version
            echo "test"
            opa eval --data policy.rego --input $OUTPUT_FILE 'data.documentationMerged.failure_msg' --format raw --fail-defined > test.txt && echo test.txt
            


      # - name: Checkout
      #   uses: actions/checkout@v5
      #   with:
      #     repository: l3montree-dev/devguard-documentation
      #     path: main
